.logo-cloud {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.logo-box {
  display: grid;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  justify-items: center;
  align-items: center;
  background-color: white;
  width: 90%;
  max-width: 1200px;
}

.logo-box img {
  max-width: 100px;
  height: auto;
  object-fit: contain;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.logo-box img:hover {
  opacity: 1;
}

@media (min-width: 1025px) {
  .logo-box {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logo-box {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 767px) {
  .logo-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
