.footer {
  background-color: #ffffff;
  color: #222;
  text-align: center;
  padding: 40px 20px;
  border-top: 1px solid #eee;
}

.footer-top {
  max-width: 700px;
  margin: 0 auto 40px;
}

.footer-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-description {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.footer-logo {
    margin-bottom: 15px;
}

.footer-column {
  text-align: left;
  min-width: 150px;
}

.footer-column h4 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  font-size: 13px;
  color: #555;
  margin-bottom: 6px;
  cursor: pointer;
}

.footer-column ul li:hover {
  color: #000;
}

.footer-bottom {
  border-top: 1px solid #eee;
  padding-top: 20px;
  font-size: 13px;
  color: #777;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-block;
  margin: 0 8px;
}

.social-icons img {
  width: 20px;
  height: 20px;
  opacity: 0.8;
  transition: 0.3s;
}

.social-icons img:hover {
  opacity: 1;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    text-align: center;
  }
}
